@page
@model ChuaBeeTing_S10243262G_.Pages.carModel
@{
    ViewData["Title"] = "Supercar Rental";
}

<h1>Supercar Rental</h1>
<div asp-validation-summary="All"></div>
<form method="post">
    @{
        var Message = "Welcome to Supercar Rental Sinagpore!";

        if (DateTime.Now.Hour >= 12)
        {
            Message += " Good Afternoon!";
        }
        else 
        {
            Message += " Good Morning!";
        }
        var Message1 = "A Class 3 licence is required upon renting!";
    }
    <p>
        <i style="color:blueviolet">@Message</i>
        <br />
        <i style="color:darkorange">@Message1</i>
    </p>
    <p>
        Name: <input type="text" asp-for="Name" /> &nbsp;&nbsp;&nbsp;
        Contact Number: <input type="text" asp-for="ContactNumber" /> &nbsp;&nbsp;&nbsp;
        Pick-up date & time: <input type="datetime-local"
                                  asp-for="PickUpDateTime"
                                  asp-format="{0:yyyy-MM-ddTHH:mm}" />
        <i style="color:red">@Model.Message</i><br /><br />
    </p>
    <table class="table">
        <thead>
            <tr><th>Car Type</th><th>Price (Per Day)</th></tr>
        </thead>
        <tbody>
            <tr><td>Ferrari 458 Spider</td><td>$560.00</td></tr>
            <tr><td>McLaren Senna</td><td>$580.00</td></tr>
            <tr><td>Porsche 911 GT3 RS</td><td>$530.00</td></tr>
            <tr><td>Lamborghini Aventador SVJ</td><td>$600.00</td></tr>
            <tr><td>Aston Martin DB11</td><td>$500.00</td></tr>
        </tbody>
    </table><br />
    <p>
        <hr />
        <input type="radio" asp-for="Type" value="Ferrari"/> 
        Ferrari 458 Spider<br />
        <img src="1ferrari.JPG" alt="Ferrari" /><br /><br />

        <input type="radio" asp-for="Type" value="McLaren" /> 
        McLaren Senna<br />
        <img src="2mclaren.JPG" alt="McLaren" /><br /><br />

        <input type="radio" asp-for="Type" value="Porsche" /> 
        Porsche 911 GT3 RS<br />
        <img src="3porsche.JPG" alt="Porsche" /><br /><br />

        <input type="radio" asp-for="Type" value="Lamborghini" /> 
        Lamborghini Aventador SVJ<br />
        <img src="4lamborghini.JPG" alt="Lamborghini" /><br /><br />

        <input type="radio" asp-for="Type" value="AstonMartin" /> 
        Aston Martin DB11<br />
        <img src="5astonmartin.JPG" alt="AstonMartin" /><br />
        <hr />
    </p>
    <p>
        <br />
         <b><i>Colours: </i></b> <select asp-for="Colours">
            @foreach (var c in Model.ColourList)
            {
                <option value=@c> @c </option>
            }
        </select>
        <br />
    </p>
    <p>
        <b><i>Do you have a Class 3 driving Licence?</i></b><br />
        <input type="radio" asp-for="Licence" value="Yes" />Yes<br />
        <input type="radio" asp-for="Licence" value="No" disabled />No<br />
    </p>
    <p>
        <b><i>Add Ons:</i></b><br />
        <input type="checkbox" asp-for="Insurance" /> Include Insurance (additional $100.00)<br />
        <input type="checkbox" asp-for="AddDriver" /> Include Additional Driver (additional $20.00)<br />
        <input type="checkbox" asp-for="CDW" /> Include Collision Damage Waiver (additional $50.00)<br /><br />
    </p>
    <p>
        <b><i>Rules:</i></b><br />
        @foreach (var r in Model.Rules)
        {
            @r <br />
        }
    </p><br />
    <p>
        <input type="submit" value="Submit My Request" /><br /><br />
    </p>

    <p><b>Customer Information:</b> @Model.CustomerInfo</p>
    <p><b>Order Information:</b> @Model.OrderInfo</p>
    <p><b>Total Cost (Per Day):</b> $@Model.TotalCost</p>
</form>